# Project milestone 4
# Detection of housing-health relationship


The aim of this project is to estimate the relation between housing quality and health status of a person. The project is an observational study based on a survey made by Mexican National Institute of Statistics and Geography. The health variables reported for each person will be used to define a single health variable which will be a score for each person's health status. We aim to use machine learning methods to do the classification and we will use regression models to predict this health score from the housing variables. Matching will be used to weed out the possible covariates. The motivation is to estimate the most important parameters of housing quality so that we can propose most cost-effective solutions that would increase the quality of health. The original paper is based on the analysis of influence of concrete floors on health quality, while here we would investigate some other parameters such as material used for building and whether there is a toilet or not in the household.

# Step 1: Import data

In [156]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

### Import data ###
#data_household = pd.read_csv('data_translated/household.csv')
data_house = pd.read_csv('data_translated/house.csv',low_memory=False)
data_person = pd.read_csv('data_translated/person.csv',low_memory=False)

In [157]:
#data_person_all = data_person.merge(data_house, left_on='House identifier', right_on='House identifier')
data_person_all = data_person.merge(data_house, left_on=['House_identifier'], right_on=['House_identifier'])

# Step 2: Exploratory Data Analysis

In [158]:
# our selected health variables
health_var = list(data_person_all.columns[35:57]) + [data_person_all.columns[26]]
data_person_all[health_var].describe()

,Difficulty_seeing,Wear_a_hearing_aid,Difficulty_hearing,Difficulty_hearing_without_noise,Difficulty_hearing_with_noise,Dificulty_to_walk,Use_a_walking_device,Walking_apparatus,Difficulty_walking_100_m,Difficulty_walking_500_m,...,Medication_for_nervousness,Intensity_of_nervousness,Frequency_of_depression,Antidepressant_medications,Intensity_of_depression,Frequency_of_pain,Pain_intensity,Fatigue_frequency,Tired_time,Limiting_physical_or_mental_activity
count,208140,208140,208140,208140,208140,208140,208140,208140,208140,208140,...,208140,208140,208140,208140,208140,208140,208140,208140,208140,208140
unique,6,3,6,6,6,6,3,9,6,6,...,4,5,7,4,5,6,5,6,5,2
top,1,2,1,1,1,1,2,,1,1,...,2,,5,2,,1,,1,,
freq,163575,197136,186322,190264,177606,175302,191991,201868,184590,177483,...,178203,117286,126698,180272,152071,132028,157153,129517,154635,205250

In [159]:
# get an idea of what kind of values are present in the daset
for i in range(len(data_person_all.columns)):
    print(data_person_all[data_person_all.columns[i]].isna().sum())
    print(data_person_all[data_person_all.columns[i]].value_counts())

0
1660272125    25
1360816210    20
102171202     20
1202467015    19
2460374003    19
              ..
3100686098     1
1060275044     1
2801063104     1
1801662205     1
2403427228     1
Name: House_identifier, Length: 56680, dtype: int64
0
1    205580
2      2185
3       322
4        46
5         7
Name: Household_identifier, dtype: int64
0
1     57518
2     51126
3     40348
4     28929
5     15849
6      7340
7      3481
8      1711
9       851
10      452
11      229
12      122
13       68
14       45
15       28
16       21
17       14
18        5
19        2
20        1
Name: Identifier_of_the_person, dtype: int64
0
17     4027
18     3996
8      3926
14     3915
12     3866
       ...
101       3
110       2
103       2
106       1
120       1
Name: Age, Length: 107, dtype: int64
0
15    7629
12    7449
20    7421
10    7417
2     7417
1     7328
28    6971
4     6927
3     6922
8     6905
5     6855
17    6820
16    6808
6     6779
24    6758
7     6757
13    6738
18    6720
22    6713
14    6691
23    6663
9     6622
27    6600
21    6561
11    6532
25    6516
19    6506
26    6290
30    6266
29    6150
31    3401
&        8
Name: Birthday, dtype: int64
0
8     18590
9     18454
10    18274
1     17585
12    17471
7     17459
11    17317
5     17147
3     16850
6     16749
4     16440
2     15796
&         8
Name: Birth_month, dtype: int64
0
2    106354
1    101786
Name: Sex, dtype: int64
0
3    82915
1    57519
2    38857
4    14261
8     5360
5     4341
9     2510
6     1604
7      773
Name: Relationship, dtype: int64
0
2    137791
1     60472
       9877
Name: School_attendance, dtype: int64
0
     147668
1     53507
2      6965
Name: School_type, dtype: int64
0
     147668
1     45774
2      9869
3      2644
4      2185
Name: School_shift, dtype: int64
0
     147668
3     46424
1     13538
2       510
Name: Scholarship_or_educational_credit, dtype: int64
0
     194092
1     10070
4      1853
3      1019
2       872
5       234
Name: Awards_school_scholarship, dtype: int64
0
     194092
1     12369
5      1324
4       190
3       116
2        49
Name: Scholarship_form, dtype: int64
0
      165939
7      13760
8       9753
9       5486
2       3909
1       2083
4       1634
6       1495
11      1387
10       960
5        899
3        835
Name: Reason_for_non-attendance, dtype: int64
0
3    78329
2    29080
6    24322
1    23005
4    15438
0    14827
5    13262
      9877
Name: Grade_level_of_instruction, dtype: int64
0
2     59710
3     50880
4     30910
10    23037
0     14827
       9877
1      8878
7      3530
8      1905
11     1877
9      1080
5       683
6       628
12      318
Name: Level_of_instruction, dtype: int64
0
      17080
15     7226
7      6962
11     6917
29     6484
27     6427
25     6394
16     6360
20     6264
12     6221
32     6198
31     6183
24     6160
14     6140
9      6063
21     6027
1      6026
19     6015
22     5994
10     5951
30     5926
4      5830
13     5708
5      5501
26     5474
18     5453
28     5383
17     5272
8      5250
6      5079
2      5038
3      5031
23     5018
33      904
34      181
Name: Home, dtype: int64
0
1    174541
      20866
2     12733
Name: Literacy, dtype: int64
0
6    62596
5    55062
     43696
1    27420
2     8554
4     7895
3     2917
Name: Marital_status, dtype: int64
0
1    97689
2    66755
     43696
Name: Worked_last_week, dtype: int64
0
      206118
6        807
5        764
9        122
8        107
10        80
3         80
7         21
12        19
1         10
11         5
2          5
4          2
Name: Reason_for_absence_from_work, dtype: int64
0
     205276
1      2864
Name: Job_search_activity_, dtype: int64
0
     202968
2      5172
Name: Retired_or_retired_, dtype: int64
0
     170131
3     38009
Name: Housework_activity_, dtype: int64
0
     186379
4     21761
Name: Student_activity, dtype: int64
0
     205250
5      2890
Name: Limiting_physical_or_mental_activity, dtype: int64
0
     206868
6      1272
Name: Activity_from_a_different_situation, dtype: int64
0
     108448
1     95756
2      3936
Name: Job_numbers, dtype: int64
0
     108448
1     70499
2     29193
Name: He_was_subordinate, dtype: int64
0
     178947
1     28214
2       979
Name: Work_on_your_own_, dtype: int64
0
     179926
2     17928
1     10286
Name: Had_staff, dtype: int64
0
     136662
1     65575
2      5186
3       717
Name: Payment_method, dtype: int64
0
     142565
1     32176
2     30973
9      2426
Name: Had_a_written_contract, dtype: int64
0
2    146309
1     51954
       9877
Name: Wear_glasses, dtype: int64
0
1    163575
2     28001
       9877
3      6167
4       331
9       189
Name: Difficulty_seeing, dtype: int64
0
2    197136
       9877
1      1127
Name: Wear_a_hearing_aid, dtype: int64
0
1    186322
       9877
2      9232
3      2483
4       185
9        41
Name: Difficulty_hearing, dtype: int64
0
1    190264
      10103
2      5935
3      1658
9       104
4        76
Name: Difficulty_hearing_without_noise, dtype: int64
0
1    177606
2     14493
      10283
3      4632
4      1002
9       124
Name: Difficulty_hearing_with_noise, dtype: int64
0
1    175302
2     14676
       9877
3      6965
4      1251
9        69
Name: Dificulty_to_walk, dtype: int64
0
2    191991
       9877
1      6272
Name: Use_a_walking_device, dtype: int64
0
     201868
1      3302
6       809
4       716
2       695
7       446
3       202
5        99
9         3
Name: Walking_apparatus, dtype: int64
0
1    184590
       9877
2      7956
3      3944
4      1708
9        65
Name: Difficulty_walking_100_m, dtype: int64
0
1    177483
      11650
2     10065
3      6665
4      2158
9       119
Name: Difficulty_walking_500_m, dtype: int64
0
1    178637
2     10755
       9877
3      5314
4      3353
9       204
Name: Difficulty_climbing_12_steps_, dtype: int64
0
1    173142
2     20639
       9877
3      3642
4       633
9       207
Name: Difficulty_remembering, dtype: int64
0
5    91887
4    50014
     24694
1    16132
2    13008
3    11389
9     1016
Name: Frequency_of_nervousness, dtype: int64
0
2    178203
      24694
1      5096
9       147
Name: Medication_for_nervousness, dtype: int64
0
     117286
1     57505
3     16867
2     16250
9       232
Name: Intensity_of_nervousness, dtype: int64
0
5    126698
4     37968
      24694
2      6404
3      6159
1      5314
9       903
Name: Frequency_of_depression, dtype: int64
0
2    180272
      24694
1      3048
9       126
Name: Antidepressant_medications, dtype: int64
0
     152071
1     35511
3     10555
2      9837
9       166
Name: Intensity_of_depression, dtype: int64
0
1    132028
2     37991
      24694
4      7433
3      5563
9       431
Name: Frequency_of_pain, dtype: int64
0
     157153
1     26573
2     16507
3      7830
9        77
Name: Pain_intensity, dtype: int64
0
1    129517
2     42154
      24694
3      5874
4      5477
9       424
Name: Fatigue_frequency, dtype: int64
0
     154635
1     41242
2      6459
3      5675
9       129
Name: Tired_time, dtype: int64
0
     154635
1     33547
2     10616
3      9239
9       103
Name: Intensity_of_fatigue, dtype: int64
0
1    198807
2      7478
3      1430
&       364
4        38
5        23
Name: Housing_type, dtype: int64
0
      200298
2       3380
3       1879
4       1492
5        812
6        138
7         68
12        18
10        12
9         10
8         10
11         9
22         4
16         4
24         2
15         1
13         1
23         1
14         1
Name: Number_of_floors_in_the_condominium, dtype: int64
0
     200298
2      7574
1       268
Name: Elevator_availability, dtype: int64
0
8    183790
7     13754
6      7945
3      1104
5       761
4       423
2       186
1       177
Name: Wall_material, dtype: int64
0
9    153128
3     29854
4     11687
6      5352
8      3019
7      2283
2      1679
5       987
1       151
Name: Roofing_material, dtype: int64
0
2    107370
3     96062
1      4700
&         8
Name: Flooring_material, dtype: int64
0
2    196338
1      9769
9      2033
Name: Roof_insulation, dtype: int64
0
2    203626
1      2488
9      2026
Name: Insulation_in_walls, dtype: int64
0
2    205119
9      1743
1      1278
Name: Window_insulation, dtype: int64
0
2    206051
9      1848
1       241
Name: Other_type_of_insulation, dtype: int64
0
      48906
20    14642
10    13121
30    11932
15    11795
      ...
69        3
88        3
86        2
93        1
84        1
Name: Age_of_the_home, Length: 97, dtype: int64
0
1    195819
2     12321
Name: It_has_kitchen, dtype: int64
0

2    180924
1     14895
      12321
Name: Used_bedroom_kitchen, dtype: int64
0
2     87191
3     55402
1     45160
4     15228
5      3685
6      1105
7       234
8        69
11       29
9        29
10        5
15        3
Name: Bedroom_rooms, dtype: int64
0
4     56059
3     46091
5     38621
2     23915
6     19150
1      9177
7      8339
8      3860
9      1440
10      839
11      312
12      214
13       54
14       29
15       20
16       16
19        3
17        1
Name: Number_of_rooms, dtype: int64
0
1    150216
2     44333
6      7726
5      3054
4      2404
3       407
Name: Water_availability, dtype: int64
0
1    142057
2     28974
      13591
3     10154
4      7312
5      6052
Name: Water_supply, dtype: int64
0
1    201703
2      6437
Name: Has_a_toilet, dtype: int64
0
2    193536
1      8167
       6437
Name: Shared_use_of_the_toilet, dtype: int64
0
1    141473
2     50995
3      9235
       6437
Name: Sanitary_water_connection, dtype: int64
0
1    108498
0     57411
2     29151
       6437
3      5179
4      1020
5       270
6       116
7        51
9         7
Name: Toilet_toilet_shower, dtype: int64
0
0    120309
1     76452
       6437
2      4347
3       406
9       145
5        23
4        18
6         3
Name: Toilet_toilet, dtype: int64
0
0    195485
       6437
1      5919
9       162
2       113
5        11
3        10
6         3
Name: Toilet_shower, dtype: int64
0
1    148148
2     46132
5     11620
3      1490
4       750
Name: Drainage_destination, dtype: int64
0
1    207103
5       709
3       208
4        66
2        54
Name: Electric_availability, dtype: int64
0
        207960
2016        36
2014        34
2015        32
2012        26
2002        12
2011        10
2001         6
2017         6
2013         6
2009         5
2010         3
2005         2
2007         2
Name: Solar_panel_year, dtype: int64
0
     208112
9        28
Name: Acquisition_year_unknown, dtype: int64
0
     207932
2       146
1        62
Name: Knowledge_of_installed_power, dtype: int64
0
       208078
110        20
-1         14
100         9
600         6
12          5
210         4
2           4
Name: Installed_potency, dtype: int64
0
0     127376
2      18595
1      17395
3      14364
4      10401
5       7089
6       4758
7       2513
8       1744
9        941
10       916
         709
11       270
12       257
15       228
13       124
14       112
20        79
17        57
25        33
16        28
18        26
22        20
30        18
19        12
26        11
40        11
70         9
24         9
32         6
29         6
21         4
91         4
27         4
36         3
35         3
90         2
33         1
23         1
37         1
Name: Number_of_incandescent_bulbs, dtype: int64
0
4     22482
0     22231
5     21939
6     21566
3     20379
      ...
90        3
51        3
76        3
52        2
48        2
Name: Number_of_energy_saving_bulbs, Length: 69, dtype: int64
0
3    160485
1     33876
4     10447
5      1715
6       896
2       721
Name: Fuel_type, dtype: int64
0
     173543
2     26489
1      8108
Name: Stove_with_fireplace, dtype: int64
0
1    166320
3     25277
2     12048
5      2642
6      1149
4       704
Name: Garbage_disposal, dtype: int64
0
1    177156
2     30984
Name: It_has_a_laundry_room, dtype: int64
0
1    124463
2     83677
Name: It_has_a_sink, dtype: int64
0
1    147730
2     60410
Name: It_has_a_shower, dtype: int64
0
2    201333
1      6807
Name: It_has_an_electric_shower, dtype: int64
0
1    115684
2     92456
Name: It_has_a_water_tank, dtype: int64
0
2    168930
1     39210
Name: It_has_a_cistern, dtype: int64
0
2    126783
1     81357
Name: It_has_a_pool_or_tank, dtype: int64
0
2    195888
1     12252
Name: It_has_a_solar_water_heater, dtype: int64
0
2    128224
1     79916
Name: It_has_a_gas_heater_for_water, dtype: int64
0
1    195640
2     12500
Name: It_has_a_light_meter, dtype: int64
0
2    158553
1     49587
Name: It_has_a_water_pump, dtype: int64
0
2    189196
1     18944
Name: It_has_a_stationary_gas_tank, dtype: int64
0
2    168775
1     39365
Name: It_has_air_conditioning, dtype: int64
0
2    203629
1      4511
Name: It_has_heating, dtype: int64
0
2    202656
1      5484
Name: It_has_a_fireplace, dtype: int64
0
2    108825
1     99315
Name: Repair_the_walls, dtype: int64
0
2    110339
1     97801
Name: Repair_the_roof, dtype: int64
0
2    169344
1     38796
Name: Repair_the_water_pipes, dtype: int64
0
2    177374
1     30766
Name: Repair_drain_pipes, dtype: int64
0
2    160591
1     47549
Name: Repair_electrical_wiring, dtype: int64
0
2    104223
1    103917
Name: Build_bedroom, dtype: int64
0
2    139868
1     68272
Name: Build_kitchen, dtype: int64
0
2    122118
1     86022
Name: Build_bathroom, dtype: int64
0
2    150854
1     57286
Name: Build_business, dtype: int64
0
1    138429
2     69711
Name: Living_room_space, dtype: int64
0
2    133982
1     74158
Name: Garden_space, dtype: int64
0
1    173773
2     34367
Name: Patio_space, dtype: int64
0
2    180182
1     27958
Name: Laundry_room_space, dtype: int64
0
2    198541
1      9599
Name: TV_room_space, dtype: int64
0
2    201382
1      6758
Name: Study_room_space, dtype: int64
0
2    206463
1      1677
Name: Game_room_space, dtype: int64
0
2    206630
1      1510
Name: Space_for_exercise_room, dtype: int64
0
2    121101
1     87039
Name: Garage_space, dtype: int64
0
      121101
1      55661
2      23097
3       4918
4       2054
5        686
6        338
8        116
10       107
7         54
9          8
Name: Parking_drawers, dtype: int64
0
2    198538
1      9602
Name: Common_area_with_other_homes, dtype: int64
0
     198538
2      8430
1      1172
Name: Meeting_room_common_area, dtype: int64
0
     198538
2      7751
1      1851
Name: Common_area_walking_track, dtype: int64
0
     198538
2      8589
1      1013
Name: Gym_common_area, dtype: int64
0
     198538
1      5006
2      4596
Name: Common_area_playground, dtype: int64
0
     198538
1      4884
2      4718
Name: Sports_courts_common_area, dtype: int64
0
     198538
2      8892
1       710
Name: Common_area_pool, dtype: int64
0
     198538
2      6828
1      2774
Name: Another_common_area, dtype: int64
0
4    116237
2     34481
1     26009
3     21739
5      6796
6      2878
Name: Type_of_home_ownership, dtype: int64
0
         182131
1000       2913
1500       2857
2000       2158
1200       1912
          ...
20000         1
1880          1
3252          1
38000         1
1920          1
Name: Housing_rent_payment, Length: 181, dtype: int64
0
      182131
0       7530
1       4753
2       3745
3       2576
4       1672
5       1601
6        830
7        667
8        573
10       571
9        274
15       193
12       181
11       128
20       100
14        73
16        66
18        63
13        61
17        55
30        49
25        39
19        25
21        24
23        24
40        19
28        16
22        14
32        12
36         9
29         8
47         8
35         7
60         7
27         7
26         6
37         5
61         4
44         4
39         3
45         3
50         2
42         2
Name: Years_residing_in_the_home, dtype: int64
0
      182131
0      12239
6       3146
1       1551
3       1530
2       1510
4       1204
5       1149
8       1088
10       683
7        667
9        659
11       583
Name: Months_residing_in_the_home, dtype: int64
0
     182131
2     22350
1      3659
Name: Relationship_to_homeowner, dtype: int64
0
     70164
2    54904
1    42465
3    29161
4    11446
Name: Acquisition_of_the_home, dtype: int64
0
     115552
1     92588
Name: Own_resources, dtype: int64
0
     207066
2      1074
Name: FONHAPO_support, dtype: int64
0
     182801
3     25339
Name: INFONAVIT_or_FOVISSSTE_credit, dtype: int64
0
     202599
4      5541
Name: Bank_credit, dtype: int64
0
     207347
5       793
Name: Microfinance_credit, dtype: int64
0
     206655
6      1485
Name: Savings_bank_credit, dtype: int64
0
     204694
7      3446
Name: Credit_from_another_institution, dtype: int64
0
     202481
8      5659
Name: Family_loan, dtype: int64
0
1     108584
       70149
2      25050
3       2821
4        617
5        416
6        236
7        100
8         79
9         47
10        30
11        11
Name: First_owner_identifier, dtype: int64
0
1    137108
      70149
2       734
3       130
5        19
Name: First_owner's_home, dtype: int64
0

      192451
2      13854
1        999
3        426
4        275
5         54
7         41
6         24
14        16
Name: Secon_owner_identifier, dtype: int64
0
     192451
1     15647
2        30
3        12
Name: Second_owner's_home, dtype: int64
0
1    102782
      70164
3     30110
2      3739
9      1345
Name: Property_deeds, dtype: int64
0
2    133096
1     75044
Name: Computer_availability, dtype: int64
0
2    138120
1     70020
Name: Fixed_telephone_line_availability, dtype: int64
0
1    187816
2     20324
Name: Cell_phone_availability, dtype: int64
0
2    110840
1     97300
Name: Internet_availability, dtype: int64
0
1    110301
2     97839
Name: Pay_TV_service_availability, dtype: int64
0
2    111940
1     96200
Name: Availability_of_own_car, dtype: int64
0
1    203232
2      3884
3       810
4       180
5        34
Name: Total_households_in_the_dwelling, dtype: int64
0
10010000     4498
220140000    3180
230050000    2998
310500000    2814
20040000     2622
             ...
205530000      11
202270000      11
150920000      11
301750000      10
200870000       9
Name: Geographic_location, Length: 926, dtype: int64
0
000-0    208140
Name: Basic_geostatistical_area, dtype: int64
0
1    87060
4    54158
3    34121
2    32801
Name: Location_size, dtype: int64
0
2    109678
1     43240
3     39993
4     15229
Name: Socioeconomic, dtype: int64
0
65     3642
203    3317
110    2830
245    2828
146    2555
       ...
126      23
52       22
114      19
212      18
177      11
Name: Sample_design_stratum, Length: 341, dtype: int64
0
1829    131
3070    127
1841    127
1853    126
1824    121
       ...
7487      1
1190      1
3078      1
3301      1
492       1
Name: Primary_sampling_unit, Length: 8092, dtype: int64
0
184     705
133     699
203     665
281     641
157     636
       ...
2324      3
1935      2
1726      2
2561      2
1978      2
Name: Expansion_factor, Length: 1776, dtype: int64

In [160]:
# replacing " " and '9' values with proper Nan
data_person_all = data_person_all.replace(' ', np.nan)
data_person_all = data_person_all.replace('&', np.nan)
data_person_all = data_person_all.replace('9', np.nan)

In [161]:
# drop columns with more than 30% of NaN values
nulli = []
exc = []
thr = int(len(data_person_all)*0.3)
for i in range(len(list(data_person_all.columns))):
    nulli.append(data_person_all[list(data_person_all.columns)[i]].isnull().values.sum())
    if (nulli[i] > thr):
        exc.append(i)
data_person_all = data_person_all.drop(columns = [list(data_person_all.columns)[i] for i in exc], axis=1)
# drop columns considere not useful
data_person_all = data_person_all.drop(columns = ["Birthday", "Birth_month", "Basic_geostatistical_area"], axis=1)

In [162]:
# update health variable
health_var = [i for i in health_var if i in list(data_person_all.columns)]
len(health_var)

17

### Filter nan values

In [163]:
# fill nan values with median should be more robust than mean
data_person_all.fillna(data_person_all.median(),inplace = True)

### Choose apropriate data type for variables and categorize

In [164]:
# converting our data to integer type
for temp in data_person_all.columns:
    data_person_all[temp]=data_person_all[temp].astype(int)

House_identifier
Household_identifier
Identifier_of_the_person
Age
Sex
Relationship
School_attendance
Grade_level_of_instruction
Level_of_instruction
Home
Literacy
Marital_status
Worked_last_week
Wear_glasses
Difficulty_seeing
Wear_a_hearing_aid
Difficulty_hearing
Difficulty_hearing_without_noise
Difficulty_hearing_with_noise
Dificulty_to_walk
Use_a_walking_device
Difficulty_walking_100_m
Difficulty_walking_500_m
Difficulty_climbing_12_steps_
Difficulty_remembering
Frequency_of_nervousness
Medication_for_nervousness
Frequency_of_depression
Antidepressant_medications
Frequency_of_pain
Fatigue_frequency
Housing_type
Wall_material
Roofing_material
Flooring_material
Roof_insulation
Insulation_in_walls
Window_insulation
Other_type_of_insulation
Age_of_the_home
It_has_kitchen
Used_bedroom_kitchen
Bedroom_rooms
Number_of_rooms
Water_availability
Water_supply
Has_a_toilet
Shared_use_of_the_toilet
Sanitary_water_connection
Toilet_toilet_shower
Toilet_toilet
Toilet_shower
Drainage_destination
Electric_availability
Number_of_incandescent_bulbs
Number_of_energy_saving_bulbs
Fuel_type
Garbage_disposal
It_has_a_laundry_room
It_has_a_sink
It_has_a_shower
It_has_an_electric_shower
It_has_a_water_tank
It_has_a_cistern
It_has_a_pool_or_tank
It_has_a_solar_water_heater
It_has_a_gas_heater_for_water
It_has_a_light_meter
It_has_a_water_pump
It_has_a_stationary_gas_tank
It_has_air_conditioning
It_has_heating
It_has_a_fireplace
Repair_the_walls
Repair_the_roof
Repair_the_water_pipes
Repair_drain_pipes
Repair_electrical_wiring
Build_bedroom
Build_kitchen
Build_bathroom
Build_business
Living_room_space
Garden_space
Patio_space
Laundry_room_space
TV_room_space
Study_room_space
Game_room_space
Space_for_exercise_room
Garage_space
Common_area_with_other_homes
Type_of_home_ownership
Computer_availability
Fixed_telephone_line_availability
Cell_phone_availability
Internet_availability
Pay_TV_service_availability
Availability_of_own_car
Total_households_in_the_dwelling
Geographic_location
Location_size
Socioeconomic
Sample_design_stratum
Primary_sampling_unit
Expansion_factor

# Step 3: Regression

### Fill response variables

In [146]:
# To run for all health_var or for health score
response=health_var[0]

### Fill model with all variables

In [147]:
# Do we filter here only important variables for example based on person correlation coef. for each response?

model='~Age'
start=data_person_all.columns.get_loc('Sex')
end=data_person_all.columns.get_loc('Worked_last_week')

for index,item in enumerate(data_person_all.columns):
    # Fill with person (control) variables
    if index >=start and index <=end:
        model=model+'+'+item
        #model=model+'+'+'C('+item+')'

    # To add also House variables
    elif index>end:
        break

In [148]:
formula=""
formula=response+model

In [149]:
# Fits the model (find the optimal coefficients, adding a random seed ensures consistency)
np.random.seed(1950)
mod= smf.ols(formula=response+model, data=data_person_all,missing='raise')
res = mod.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:      Difficulty_seeing   R-squared:                       0.140
Model:                            OLS   Adj. R-squared:                  0.139
Method:                 Least Squares   F-statistic:                     527.4
Date:                Wed, 16 Dec 2020   Prob (F-statistic):               0.00
Time:                        15:45:24   Log-Likelihood:            -1.2580e+05
No. Observations:              208140   AIC:                         2.517e+05
Df Residuals:                  208075   BIC:                         2.524e+05
Df Model:                          64
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
Intercept                           0.9814      0.006    165.973      0.000       0.970       0.993
School_attendance[T.1]           1.327e+09   8.63e+09      0.154      0.878   -1.56e+10    1.82e+10
School_attendance[T.2]           1.327e+09   8.63e+09      0.154      0.878   -1.56e+10    1.82e+10
Grade_level_of_instruction[T.0] -6.689e+08   4.35e+09     -0.154      0.878   -9.19e+09    7.86e+09
Grade_level_of_instruction[T.1] -1.327e+09   8.63e+09     -0.154      0.878   -1.82e+10    1.56e+10
Grade_level_of_instruction[T.2] -1.327e+09   8.63e+09     -0.154      0.878   -1.82e+10    1.56e+10
Grade_level_of_instruction[T.3] -1.327e+09   8.63e+09     -0.154      0.878   -1.82e+10    1.56e+10
Grade_level_of_instruction[T.4] -1.327e+09   8.63e+09     -0.154      0.878   -1.82e+10    1.56e+10
Grade_level_of_instruction[T.5] -1.327e+09   8.63e+09     -0.154      0.878   -1.82e+10    1.56e+10
Grade_level_of_instruction[T.6] -1.327e+09   8.63e+09     -0.154      0.878   -1.82e+10    1.56e+10
Level_of_instruction[T.0]       -6.578e+08   4.28e+09     -0.154      0.878   -9.04e+09    7.73e+09
Level_of_instruction[T.1]           0.1526      0.016      9.704      0.000       0.122       0.183
Level_of_instruction[T.10]          0.0301      0.014      2.175      0.030       0.003       0.057
Level_of_instruction[T.11]         -0.0523      0.017     -3.035      0.002      -0.086      -0.019
Level_of_instruction[T.12]         -0.1406      0.028     -4.956      0.000      -0.196      -0.085
Level_of_instruction[T.2]           0.1733      0.014     12.343      0.000       0.146       0.201
Level_of_instruction[T.3]           0.0937      0.014      6.690      0.000       0.066       0.121
Level_of_instruction[T.4]           0.0713      0.014      5.064      0.000       0.044       0.099
Level_of_instruction[T.5]           0.0107      0.022      0.490      0.624      -0.032       0.054
Level_of_instruction[T.6]          -0.0479      0.022     -2.131      0.033      -0.092      -0.004
Level_of_instruction[T.7]           0.0315      0.016      2.005      0.045       0.001       0.062
Level_of_instruction[T.8]           0.0166      0.017      0.971      0.332      -0.017       0.050
Home[T.1]                          -0.0453      0.008     -5.981      0.000      -0.060      -0.030
Home[T.10]                          0.0267      0.008      3.509      0.000       0.012       0.042
Home[T.11]                          0.0082      0.007      1.123      0.262      -0.006       0.022
Home[T.12]                         -0.0125      0.008     -1.660      0.097      -0.027       0.002
Home[T.13]                          0.0287      0.008      3.735      0.000       0.014       0.044
Home[T.14]                         -0.0240      0.008     -3.191      0.001      -0.039      -0.009
Home[T.15]                          0.0215      0.007      2.991      0.003       0.007       0.036
Home[T.16]                          0.0186      0.007      2.488      0.013       0.004       0.033
Home[T.17]                          0.0276      0.008      3.502      0.000       0.012       0.043
Home[T.18]                         -0.0105      0.008     -1.350      0.177      -0.026       0.005
Home[T.19]                         -0.0300      0.008     -3.956      0.000      -0.045      -0.015
Home[T.2]                          -0.0060      0.008     -0.756      0.450      -0.022       0.010
Home[T.20]                         -0.0123      0.008     -1.645      0.100      -0.027       0.002
Home[T.21]                         -0.0061      0.008     -0.810      0.418      -0.021       0.009
Home[T.22]                         -0.0213      0.008     -2.808      0.005      -0.036      -0.006
Home[T.23]                         -0.0222      0.008     -2.783      0.005      -0.038      -0.007
Home[T.24]                          0.0012      0.008      0.153      0.878      -0.014       0.016
Home[T.25]                         -0.0071      0.007     -0.955      0.340      -0.022       0.007
Home[T.26]                          0.0287      0.008      3.687      0.000       0.013       0.044
Home[T.27]                          0.0139      0.007      1.872      0.061      -0.001       0.029
Home[T.28]                          0.0045      0.008      0.572      0.567      -0.011       0.020
Home[T.29]                          0.0418      0.007      5.633      0.000       0.027       0.056
Home[T.3]                          -0.0059      0.008     -0.743      0.458      -0.022       0.010
Home[T.30]                          0.0387      0.008      5.084      0.000       0.024       0.054
Home[T.31]                         -0.0498      0.008     -6.606      0.000      -0.065      -0.035
Home[T.32]                          0.0276      0.008      3.664      0.000       0.013       0.042
Home[T.33]                         -0.0155      0.016     -0.993      0.321      -0.046       0.015
Home[T.34]                         -0.0032      0.033     -0.096      0.923      -0.069       0.062
Home[T.4]                          -0.0031      0.008     -0.402      0.687      -0.018       0.012
Home[T.5]                           0.0261      0.008      3.359      0.001       0.011       0.041
Home[T.6]                           0.0093      0.008      1.166      0.244      -0.006       0.025
Home[T.7]                          -0.0173      0.007     -2.372      0.018      -0.032      -0.003
Home[T.8]                          -0.0072      0.008     -0.914      0.360      -0.023       0.008
Literacy[T.1]                       0.0300      0.008      3.685      0.000       0.014       0.046
Literacy[T.2]                       0.0556      0.008      7.262      0.000       0.041       0.071
Marital_status[T.1]              5.076e+05    3.3e+06      0.154      0.878   -5.96e+06    6.98e+06
Marital_status[T.2]              5.076e+05    3.3e+06      0.154      0.878   -5.96e+06    6.98e+06
Marital_status[T.3]              5.076e+05    3.3e+06      0.154      0.878   -5.96e+06    6.98e+06
Marital_status[T.4]              5.076e+05    3.3e+06      0.154      0.878   -5.96e+06    6.98e+06
Marital_status[T.5]              5.076e+05    3.3e+06      0.154      0.878   -5.96e+06    6.98e+06
Marital_status[T.6]              5.076e+05    3.3e+06      0.154      0.878   -5.96e+06    6.98e+06
Worked_last_week[T.1]           -5.076e+05    3.3e+06     -0.154      0.878   -6.98e+06    5.96e+06
Worked_last_week[T.2]           -5.076e+05    3.3e+06     -0.154      0.878   -6.98e+06    5.96e+06
Age                                 0.0083   9.28e-05     89.171      0.000       0.008       0.008
Sex                                 0.0222      0.002     10.835      0.000       0.018       0.026
Relationship                       -0.0066      0.001     -9.372      0.000      -0.008      -0.005
==============================================================================
Omnibus:                    86284.598   Durbin-Watson:                   1.818
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           373131.444
Skew:                           2.051   Prob(JB):                         0.00
Kurtosis:                       8.119   Cond. No.                     1.20e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.06e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""