# Project milestone 4
# Detection of housing-health relationship


The aim of this project is to estimate the relation between housing quality and health status of a person. The project is an observational study based on a survey made by Mexican National Institute of Statistics and Geography. The health variables reported for each person will be used to define a single health variable which will be a score for each person's health status. We aim to use machine learning methods to do the classification and we will use regression models to predict this health score from the housing variables. Matching will be used to weed out the possible covariates. The motivation is to estimate the most important parameters of housing quality so that we can propose most cost-effective solutions that would increase the quality of health. The original paper is based on the analysis of influence of concrete floors on health quality, while here we would investigate some other parameters such as material used for building and whether there is a toilet or not in the household.

# Step 1: Import data

In [3]:
import pandas as pd

### Import data ###
data_household = pd.read_csv('data_translated/household.csv')
data_house = pd.read_csv('data_translated/house.csv')
data_person = pd.read_csv('data_translated/person.csv')

C:\Users\Toni\anaconda3\envs\ada\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\Toni\anaconda3\envs\ada\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
data_person_all = data_person.merge(data_house, left_on='House identifier', right_on='House identifier')
data_person_all = data_person_all.merge(data_household, left_on=['House identifier','Household identifier'], right_on=['House identifier','Household identifier'])
data_person_all.head()

,House identifier,Household identifier,Identifier of the person,Age,Birthday,Birth month,Sex,Relationship,School attendance,School type,...,Guests who pay to eat,Domestic worker,Nanny or elderly caregiver,Laundryman,Driver,Chef,Gardener,Number of household members,Total male members,Total female members
0,100008010,1,1,79,16,12,1,1,2,,...,,,,,,,,4,2,2
1,100008010,1,2,34,30,7,1,4,1,1,...,,,,,,,,4,2,2
2,100008010,1,3,31,8,9,2,8,2,,...,,,,,,,,4,2,2
3,100008010,1,4,3,3,9,2,8,2,,...,,,,,,,,4,2,2
4,100008034,1,1,42,20,5,1,1,2,,...,,,2,2,2,2,2,5,4,1